<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>TEST</title>
        <link href="http://memoquest.fr/MemoQuest/bundles/framework/css/structure.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://memoquest.fr/MemoQuest/bundles/framework/css/body.css" rel="stylesheet" type="text/css" media="all" />
            <link href="/MemoQuest/bundles/framework/css/exception.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
		Hello {{ name }}!
	</body>
</html>